black==24.3.0
flake8==4.0.*
isort==5.10.*
mock==4.0.3
mongomock==4.1.*
moto[server]==2.2.*
mypy==1.0.1
pytest==7.4.*
pytest-cov==4.1.*
pytest-vcr==1.0.*
pytest-asyncio==0.15.*
requests==2.32.*
boto3==1.20.24
botocore==1.23.24
