aiobotocore==2.1.0
cuenca-validations==0.11.27
fastapi==0.108.0
httpx==0.27.0
mongoengine-plus==0.0.3
python-multipart==0.0.5
starlette==0.32.0.post1
starlette-context==0.3.3
types-aiobotocore-sqs==2.1.0.post1
uvicorn==0.29.0
